.hero-canvas {
  opacity: 1;
  /* animation: fade-in 3s ease-in-out forwards; */
  position: relative;
  width: 100%;
  height: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}